/*
This css file is a placeholder. Use this or roll your own, choice is yours.
*/
div.container{
    width: 900px;
    height: 600px;
    margin:50px auto;
    /*width: 30%; */
    /*margin: 50px auto 0px;*/
    color: white;
    background: #1D89BF;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 10px 10px;
    /*padding: 20px;*/
}